// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42

//#define USE_ESC
//#define USE_SPORT
#define USE_VESC
//#define USE_GPS
#define USE_DEVICES2
//#define USE_DEVICES3
#define USE_DEVICES4

#define USE_UART_2

//#define STM32G431xx
//#define STM32G473xx
//#define STM32G030xx
#define STM32G031xx
//#define STM32G0B1xx
#define STM32G0
//#define STM32G4

//#define SERIAL_DEBUG
//#define USE_BUTTON

//#define ESCAPE32_ASCII

//#define HW_MSW11
#define HW_WEACT
#define USE_MORSE
#define USE_VIRTUALS
#define USE_PATTERNS


