// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42

//#define __AVR__
//#define __AVR_ATmega8__
//#define __AVR_ATmega1284P__
//#define __AVR_ATmega328P__
//#define __AVR_ATmega328PB__
//#define __AVR_ATtiny25__
//#define __AVR_ATtiny85__
//#define __AVR_ATtiny84__

#define __SAMD21G18A__
